# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional eslint cache
.eslintcache

# Optional editor directories
.idea/
.vscode/
*.sublime-workspace

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Yarn files
yarn-error.log
yarn.lock
.yarn/

# Build files
build/
dist/
out/
.next/
*.foxe